.nav {
    background-color: #77858f;
    border-right: solid 1px #97a1a8;
    height: 100vh;
    width: 25vw;
    box-sizing: border-box;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.logoContainer {
    display: flex;
    align-items: center;
    padding: 0 16px;
    margin-bottom: 20px;
}

.logo {
    border-radius: 50%;
    margin-right: 16px;
}

.link {
    margin: 0 0 8px 0;
    padding: 0 16px;
    height: 35px;
    display: flex;
    align-items: center;
}

.active {
    background-color: #677377;
    border-left: solid 4px #ffffff;
}