.card {
    background-color: #677377;
    box-sizing: border-box;
    padding: 10px 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.pictureContainer {
    width: 100%;
    padding: 16px 5px;
    display: flex;
    justify-content: center;
}

.picture {
    width: 90%;
    height: auto;
}

.cardTitle {
    color: #d7d7d7;
    font-size: 28px;
    margin-top: 10px;
}

.cardPrice {
    color: #fff;
    font-size: 34px;
    margin-top: 20px;
}