.form {
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.14);
    color: #5d5d5d;
    display: flex;
    flex-direction: column;
}

.submitButton {
    height: 45px;
    border-radius: 6px;
    border: none;
    background-color: #8a9297;
    cursor: pointer;
}