.form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #677377;
    width: fit-content;
}

.label {
    color: #d2d2d2;
}

.input {
    margin: 10px 0;
    padding: 0 10px;
    border-radius: 6px;
    height: 35px;
    background: none;
    border: solid 1px #77858f;
}

.input:focus {
    outline: none;
    border: solid 3px #77858f;
}

.submitButton {
    height: 35px;
    border-radius: 6px;
    border: none;
    background-color: #4d917d;
    cursor: pointer;
}