.antiHumidity {
    background-color: #77858f;
    min-height: 85vh;
    padding: 20px;
    display: flex;
}

.cardsList {
    padding: 0 40px;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}