.balanceInfo {
    display: flex;
}

.balanceNumbers {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    margin-bottom: 5px;
    color: #575757;
}

.buyValue {
    margin-bottom: 12px;
    font-size: 16px;
    color: #c40404;
}

.sellValue {
    margin-bottom: 12px;
    font-size: 16px;
    color: #04c424;
}

.balanceResultPositive {
    color: #04c424;
}

.balanceResultNegative {
    color: #c40404;
}